---
import ArticleCard from "@components/ArticleCard.astro";
import Layout from "@layouts/Layout.astro";

const pageTitle = "Articles";
const allPosts = await Astro.glob("./posts/*.md");
const nonDraftPosts = allPosts.filter((p) => p.frontmatter.draft !== true);
---

<Layout pageTitle={pageTitle} showTitle={true}>
  <div class="grid grid-cols-1 md:grid-cols-2">
    {
      nonDraftPosts.map((post) => (
        <ArticleCard
          title={post.frontmatter.title}
          url={post.url || "#"}
          description={post.frontmatter.description}
          image={post.frontmatter.image}
          tags={post.frontmatter.tags}
        />
      ))
    }
  </div>
</Layout>
