---
import Layout from "@layouts/Layout.astro";
import ArticleCard from "@components/ArticleCard.astro";
import type { Frontmatter } from "src/types/Frontmatter";

const pageTitle = "Accueil";
const allPosts = await Astro.glob<Frontmatter>("./posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
---

<Layout pageTitle={pageTitle} showTitle={true}>
  <p>
    Bonjour! Je suis étudiant en informatique, et bienvenue sur ma page perso:)
  </p>
  <section class="mt-8">
    <h2 class="my-4">Derniers articles</h2>
    <article class="grid grid-cols-1 md:grid-cols-2">
      {
        nonDraftPosts.map((post) => {
          return (
            <ArticleCard
              title={post.frontmatter.title}
              url={post.url || "#"}
              description={post.frontmatter.description}
              image={post.frontmatter.image}
              tags={post.frontmatter.tags}
            />
          );
        })
      }
    </article>
  </section>
</Layout>
