---
import Layout from "@layouts/Layout.astro";
import ArticleCard from "@components/ArticleCard.astro";
import type { Frontmatter } from "src/types/Frontmatter";

const pageTitle = "Accueil";
const allPosts = await Astro.glob<Frontmatter>("./posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
console.log(nonDraftPosts);
---

<Layout pageTitle={pageTitle}>
  <p>
    Bonjour! Je suis Harry, étudiant en informatique, et bienvenue sur ma page
    perso:)
  </p>
  <section>
    <h2>Derniers articles</h2>
    <article>
      {
        nonDraftPosts.map((post) => {
          return (
            <ArticleCard
              title={post.frontmatter.title}
              url={post.url}
              description={post.frontmatter.description}
              image={post.frontmatter.image}
              tags={post.frontmatter.tags}
            />
          );
        })
      }
    </article>
  </section>
</Layout>

<style>
  section > h2 {
    margin: 2rem 0;
  }

  section > article {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 1rem;
  }
</style>
