---
import Layout from "@layouts/Layout.astro";
import ArticleCard from "@components/ArticleCard.astro";
import type { Frontmatter } from "src/types/Frontmatter";

const pageTitle = "Accueil";
const allPosts = await Astro.glob<Frontmatter>("./posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
---

<Layout pageTitle={pageTitle} showTitle={true}>
  <p>
    Bonjour! Je suis étudiant en informatique, et bienvenue sur ma page perso:)
  </p>
  <section>
    <h2>Derniers articles</h2>
    <article>
      {
        nonDraftPosts.map((post) => {
          return (
            <ArticleCard
              title={post.frontmatter.title}
              url={post.url || "#"}
              description={post.frontmatter.description}
              image={post.frontmatter.image}
              tags={post.frontmatter.tags}
            />
          );
        })
      }
    </article>
  </section>
</Layout>

<style>
  section {
    margin-top: 2rem;
  }
  section h2 {
    margin: 1rem 0;
  }

  section > article {
    display: grid;
    grid: repeat(1, 1fr) / repeat(1, 1fr);
    grid-gap: 1rem;
  }

  @media (min-width: 768px) {
    section > article {
      grid: repeat(1, 1fr) / repeat(2, 1fr);
    }
  }
</style>
