---
import type { Frontmatter } from "src/types/Frontmatter";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const { description, title, tags, draft, image } = frontmatter as Frontmatter;
---

<Layout pageTitle={title} showTitle={false}>
  <header>
    <h1>{title}</h1>
    <p>{description}</p>
  </header>
  <section id="tags">
    <h2>tags</h2>
    <ul class="tags">
      {tags.map((tag) => <span>{tag}</span>)}
    </ul>
  </section>
  <section id="post">
    <slot />
  </section>
</Layout>

<style>
  section#tags {
    display: flex;
    gap: 6px;
    flex-direction: column;
  }

  section#tags h2 {
    font-size: large;
    font-weight: 400;
  }

  ul.tags span {
    background-color: white;
  }

  header h1 {
    margin: 0;
    padding: 0;
  }
  header {
    margin-bottom: 16px;
  }

  section#post {
    margin-top: 16px;
  }
</style>
